<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <styles>
        .main {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #24292e;
        }

        .four04 {
            color: white;
            font-size: 50px;
        }
    </styles>
</head>

<body>
	<div class="main">
		<div class="four04">404</div>
	</div>
</body>

</html>