
.banner-container {
    opacity: 1.0;
}

.back-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
}​

.banner-title {
    font-size: 18px;
    margin-bottom:10px;
    border-bottom: solid 1px grey;
    padding: 0 0 0 4px;
    width: 100%;
}

.banner {
    display: flex;
    overflow-x: none;
}

.banner-cell {
    width: 800px;
    height: 165px;
    margin-left: 20px;
}

.banner-thumbnail {
    height: 300px;
    flex-basis: 25%;
    border-radius: 4px;
    border-bottom: 0;
}

.banner-title {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    opacity: 1.0;
    margin-top: 30px;
    margin-bottom: 10px;
}

.banner-channel {
    color: rgb(50, 47, 55);
    font-size: 13px;
    font-weight: 400
}