/* Colors */
#overrides .primary {
  color: #2055CF;
}

#overrides .primaryBack {
  background-color: #2055CF;
}

#overrides .primaryGradient {
  background: rgb(32, 85, 207);
  background: linear-gradient(90deg, rgba(32, 85, 207, 1) 0%, rgba(0, 159, 255, 1) 100%);
}

#overrides .secondary {
	color: #232323;
}

#overrides .contrast {
  color: white;
}

/* General Document */
body {
  overflow-x: hidden;
}

.search-bar-div {
  width: 440px;
}

/* Logo */
#logo {
	font-family: monospace;
	font-size: 1.3em;
  padding-right: 0.4em;
  border-right: 1px solid white;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.4s;
}

#logo:hover {
  box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.4s;
}

#logo>img {
  width: 60px;
  padding-right: 0.2em;
}

/* Nav List */
#navList .nav-link {
	transition: background-color 0.2s;
	transition: borer-radius 0.2s;
}
#navList .nav-link:hover {
	background-color: #232323;
	border-radius: 0.3em;
	transition: background-color 0.2s;
	transition: borer-radius 0.2s;
}
