/* Colors */
#overrides .primary {
  color: #f46d34;
}

#overrides .primaryBack {
  background-color: #f46d34;
}

#overrides .primaryGradient {
  background: rgb(244, 109, 52);
  background: linear-gradient(90deg, rgba(244, 109, 52, 1) 0%, rgba(237, 72, 0, 1) 100%);
}

#overrides .secondary {
  color: #232323;
}

#overrides .contrast {
  color: white;
}

/* General Document */
body {
  overflow-x: hidden;
}

.search-bar-div {
  width: 440px;
}

/* Logo */
#logo {
  font-family: monospace;
  font-size: 1.3em;
  padding-right: 15px;
  border-right: solid 1px black;
  
  animation: shadow-drop-out 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#logo:hover>#logoIMG {
  animation: slide-top-in 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#logoIMG {
  width: 90px;
  padding-right: 0.4em;
  margin-left: 10px;
  animation: slide-top-out 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top-in {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes slide-top-out {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Nav List */
#navList .nav-link {
  background-color: none;
  border-radius: 0em;
  transition: background-color 2s;
  transition: borer-radius 2s;
}

#navList .nav-link:hover {
  background-color: #e94e0c;
  border-radius: 0.3em;
  transition: background-color 2s;
  transition: borer-radius 2s;
}
