html, body {
    background-color: #fafafa;
}

.banner-container {
    opacity: 0.5;
    height: 50vh;
}

#rows-container {
    
}

.row {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.row-title {
    font-size: 18px;
    margin-bottom:10px;
    border-bottom: solid 1px grey;
    padding: 0 0 0 4px;
    width: 100%;
}

.videos {
    display: flex;
    overflow-x: none;
}

.video-cell {
    width: 290px;
    margin-right: 10px;
}

.video-thumbnail {
    width: 290px;
    height: 165px;
    object-fit: cover;
    width: 100%;
    vertical-align: center;
    border-radius: 4px;
    border-bottom: 0;
}

.video-title {
    color: rgb(25, 23, 28);
    font-size: 14px;
    font-weight: bold;
}

.video-channel {
    color: rgb(50, 47, 55);
    font-size: 12px;
    font-weight: 400
}