html, body {
    background-color: #fafafa;
}

.banner-container {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-container {
    margin-right: 5px;
}

#editor {
    width: 680px;
    height: 400px;
    margin-bottom: 6px;
    margin-left: 5px;
}

.row {
    margin-bottom: 10px;
    margin-left: 20px;
    overflow: hidden;
}

.row-title {
    font-size: 18px;
    margin-bottom:10px;
    border-bottom: solid 1px grey;
    padding: 0 0 0 4px;
    width: 100%;
}

.videos {
    display: flex;
}

.video-cell {
    width: 295px;
    margin-right: 10px;
}

.video-thumbnail {
    height: 165px;
    object-fit: cover;
    width: 100%;
    vertical-align: center;
    border-radius: 4px;
    border-bottom: 0;
    cursor: pointer;
}

.video-thumbnail:hover {
    transform: scale(1.02);
}

.video-title {
    color: rgb(25, 23, 28);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.video-channel {
    color: rgb(50, 47, 55);
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
