#contentArea {
  background-color: #fafafa;
  height: 100vh;
  flex-wrap: nowrap;
}

/* Video Side */
#videoSide {
  max-width: 850px;
}

#player {
  margin-top: 1em;
  margin-left: 2em;
}

#vidInfoContainer {
  margin-left: 2em;
  margin-right: 2em;
}

#vidInfo {
  border-bottom: 1px solid black;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

#comments {
  margin-top: 1em;
}

/* Code Side */
#codeSide .nav-tabs {
  margin-top: 1em;
  border-bottom: 0px;
}

#codeSide .nav-item {
  padding-right: 0.25em;
  font-size: 1em;
  font-family: monospace;
  cursor: pointer;
}

#codeSide .nav-link {
  color: white;
  background-color: #232323;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  cursor: pointer;
}

#codeSide .active {
  background-color: #e94e0c;
}

#editor {
  width: 98%;
  height: 85%;
}

.comment-container {
  margin: 16px 2em 0 2em;
}

.username {
  font-weight: bold;
}

.replies {
  font-weight: bold;
  cursor: pointer;
}
